.js-timeselectform {
  display: none;
}

.reserve-form {
	margin-top: 50px;
}

.card-title {
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}

.confirm-contents {
	line-height: 2.5;
}

.confirm-back {
	margin-bottom: 20px;
}

.back-top {
	text-align: center;
	margin-bottom: 20px;
}

#error-message{
	font-size: 18px;
	color: red;
}